<div class="container">
  <h1 class="text-center">Welcome <%= current_user.name %>!</h1>

  <div class="border mb-5 pb-5" id='message-div'>
    <%= turbo_frame_tag "messages_turbo_frame" do %>
      <% @messages.each do |message| %>
          <%= render 'message', message: message %>
      <% end %>
    <% end %>
  </div>

  <div class="fixed-bottom m-3">
    <%= turbo_frame_tag 'new_message_form' do %>
      <%= render 'form', message: @message %>
    <% end %>
  </div>
</div>
